.share-location{

    padding: 10px 3%;
    align-items: center;
    background: $cWhite;
    box-shadow: 0 1px 2px 0 rgba($cBlack,0.14);

    .wrp{
        @extend .flex;
    }

    svg{
        margin-right: 10px;
        height: 20px;
        width: 15px;
        fill: $c2;
    }

    a{
        display: inherit;
        color: $c2;
        font-size: em(12px);
        text-decoration: none;
    }
}