.place{
    display: inline-block;
    width: 49%;
    margin: 0 0 10px;
    min-width: 280px;
    border-radius: 5px;
    background: $cWhite;
    overflow: hidden;
    text-decoration: none;
    color: inherit;

    @include responsive($mobileM) {
        min-width: 180px;
    }

    @include responsive($mobileM) {
        margin: 0 auto 10px;
        width: 100%;
    }

    figure{
        width: 100%;
        margin: 0;

        img{
            width: 100%;
            height: auto;
        }
    }

    h1{
        min-height: 55px;
        margin: 10px 0;
        padding: 0 10px;
        line-height: 1.2em;
        font-weight: 300;

        strong{
            font-weight: 700;
        }
    }

    .flex{
        padding: 0;
        justify-content: space-between;
        align-items: center;

        @include responsive($mobileM) {
            display: block;
        }

    }

    .ratings{
        margin:0 10px 10px;

        @include responsive($mobileM) {
            display: flex;
        }
    }

    .data{
        padding-left: 10px;
        display: flex;
        font-size: em(10px);
        color: #9E9E9E;
        letter-spacing: 0.38px;
        
        @include responsive($mobileM) {
            display: block;

            span{
                display: block;
                border-right: 0;
                padding: 0;
            }
        }



        span{
            padding: 0 5px;
            border-right: 1px solid #D8D8D8;
            
            &.type{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 100px;
            }

            &:first-child{
                padding-left: 0;
            }

            &:last-child{
                border-right: none;
            }

            @include responsive($mobileM) {
                display: block;
                border-right: 0;
                padding: 0;
            }

        }

        .distance{
            svg{
                position: relative;
                top: 1px;
                margin-right: 3px;
                height: 10px;
                width: 8px;
                fill: #D8D8D8;
            }
        }
    }

    .link{
        padding: 5px 10px;
        font-size: em(14px);
        color: $c4;
        font-weight: 900;
        letter-spacing: -0.53px;
        line-height: 24px;

        &:hover{
            background: $c4;
            color: $cWhite;
        }

        @include responsive($mobileM) {
            margin: 10px 0 0;
            display: block;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            background: $c4;
            color: $cWhite;

                &:hover{
                    background: $cWhite;
                    color: $c4;
                }
        }

    }
}
