.case{

  .rows &{
    padding: 10px;
    line-height: 1.5em;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    max-width: 100%;

    p{
      line-height: 1.5em;
    }

    div{
      width: 70%;
    }

    figure{
      width: 25%;
      height: auto;
      margin: 0 3% 0 0;
    }
  }

}
