.header{
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
}

.student{

  figure{
    position: relative;
    height: 72px;
    width: 72px;
    border-radius: 40px;
    overflow: hidden;

    img{
      height: 100%;
      width: 100%;
    }
  }

  span{
    color: $c2;
    font-weight: lighter;
    margin-right: 10px;
  }

  figure, span{
    display: inline-block;
    vertical-align: middle;
  }

}
