.container{
  margin: 0 auto;
  width: 90vw;
  max-width: 1024px;
}


.main{
  min-height: 100vh;

  h1{
    margin: 100px 0 50px;
    font-size: em(42px);
    color: $c2;
    font-weight: lighter;
  }


}
