.x-pack-illustration{
    width: 40%;
    max-width: 450px;
    align-self: center;

    img{
        width: 100%;
        height: auto;
    }

    @include responsive(768px, 'max'){
        display: none;
    }

}