%post-resume-content{
  hyphens: auto;
  width: 100%;

  .post-title {
    color: $c1;
  }

  figure {
    position: relative;
    overflow: hidden;
    @extend %link-icon;
  }

  img{
    position: relative;
    transform: scale(1.03);
  }

  .content{
    flex: 1;
  }

  p{
    line-height: 1.35em;
    @include rem(font-size, 16px);
    font-weight: 300;
    color: $c4;

    &:last-child{
      margin-bottom: 0;
    }

  }

  .metadata{
    width: 100%;
    line-height: 1em;
    align-items: center;

    .flex{
      align-items: center;
    }

  }

  .share-actions{
    align-items: center;
    display: none;
  }

  .read-more{
    color: $c1;
  }

  .cat-label{
    margin-left: 7px;
  }

  time{
    margin: 10px 0;
  }

  .read-more-sharer{
    align-items: center;
  }

  &:hover{

    img{
      filter: blur(3px);
    }

    figure:before {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: 0.5s opacity $transition1, 0.3s transform $transition1;
    }

  }

  @include responsive(568px, 'max') {

    >a.flex {
      display: block;
    }

    .content.m-l-md {
      margin-top: $spacer-sm;
      margin-left: 0;
    }

    .metadata {
      flex-wrap: wrap;
    }

  }

  @include responsive(768px,'max') {

    figure{

      img{
        max-width: 100%;
        width: 100%;
        height: auto;
      }

    }

	}

}