.latest-videos{
    background: $c5;

    .video{
        position: relative;

        &:last-child{
            margin-bottom: 0;
        }

        &:hover {

            img {
                filter: blur(3px);
            }

            .play-btn{
                opacity: 1;
            }
        }

    }
    

    .content{
        position: absolute;
        top: 0;
    }

    @extend %latest-video;

    .play-btn{
        margin: 30px auto;
        text-align: center;
    }

    .post-title {
        position: absolute;
        bottom: $spacer-md;
        margin: 0;
    }

    figure{
        margin: 0 auto;
        max-width: 360px;
        max-height: 260px;
        overflow: hidden;
    }

    img{
        position: relative;
        top: -4px;
        left: 50%;
        transform: translate(-50%, 0);
    }

}