.services-list{
  margin-top: 50px;;
  @extend %flex;
  flex-wrap: wrap;

  li{
    position: relative;
    width: 22.5%;
    padding: 50px 5px;
    margin: 0 3.333333% 3.333333% 0;
    background: $c1;
    color: $cWhite;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: em(24px);
    text-transform: uppercase;

    &:nth-child(4n){
      margin: 0 0 3.333% 0;
    }

    @include responsive (599px, 'max') {
        width: 47.5%;
        margin: 0 2.5% 5% 0;

        &:nth-child(4n){
          margin: 0 2.5% 5% 0;
        }

        &:nth-child(2n){
          margin: 0 0 5% 0;
        }

    }

  }

  .fa{
    display: block;
    margin: 0 auto 50px;
    font-size: 80px;
  }

}


.hover{
  display: none;
  position: absolute;
  right: 115%;
  bottom: 0;
  padding: 30px 10%;
  width: 215%;
  border: 3px solid $c1;
  background: $cWhite;
  color: $c2;
  font-size: em(14px);
  text-transform: none;
  text-align: left;

  &:before{
    border: 3px solid $c1;
    bottom: 30px;
    right: -16px;
  }

  &:after{
    background:$cWhite;
    bottom: 30px;
    right: -12px;
    border: 3px solid $cWhite;
  }

  &:before, &:after{
    @extend %pseudo_icon;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
  }

  strong{
    text-decoration: underline;
  }

  h3{
    text-transform: uppercase;
    color: $c1;
    font-weight: 700;
    font-size: em(24px);
  }

  p{
    font-size: em(16px);
    text-align: left;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
  }

  .fa{
    font-size: inherit;
    display: inline;
  }
}
