.widget{
  opacity: 1;
  display: flex;
  min-height: calc(100vh - 70px);
  align-items: center;

  > div{
    width: 100%;
  }
}

.box{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  background: $color-two;
  box-shadow: 0 2px 10px 0 rgba(12,12,12,0.15);
  overflow: hidden;

}

@media (max-width: 360px) {

  .widget{
    top: 0;
    margin: 50px auto;

    &.actual{
      opacity: 1;
      @include transform(translate3d(-50%, 0, 0));
    }

    &.previous{
      @include transform(translate3d(-250%, 0, 0));
    }

    &.next{
      @include transform(translate3d(50%, 0, 0));
    }

  }


}
