/*********************************************************************
*  =Variables
*********************************************************************/

/*********************************************************************
*  =Grid and typograph
*********************************************************************/
$PROJECT_FONT_SIZE : 16px;
$PROJECT_BASELINE : 24px;

$GRID_COLUMN_WIDTH : 60px;
$GRID_GUTTER : 20px;
$GRID_WIDTH : (14*$GRID_COLUMN_WIDTH) + (13*$GRID_GUTTER);

$wrpSize : 1280px;
$wrp : #{$wrpSize}px;

/*********************************************************************
*  =Colors
*********************************************************************/

$cWhite : #fff;
$cBlack : #000;
$cGrey  : #e0e5e8;

$c1: #3D4664;
$c2: #1A1E2A;
$c3: #89cde7;
$c4: #525252;
$c5: #d3dce5;
$c6: #1c1d23;
$c7: #c0c0c0;
$c8: #b9d938;

$c-guides : #2fa348;
$c-reviews: #cfb734;
$c-exclusives: #d22929;
$c-roundups: #346da6;
$c-videos: #d53195;
$c-news: #cf6b34;


$categories-colors: (
  guides: $c-guides,
  reviews: $c-reviews,
  exclusive: $c-exclusives,
  roundups: $c-roundups,
  videos: $c-videos,
  news: $c-news,
);

/*********************************************************************
*  = icon path
*********************************************************************/
$imagePath: './' !default;

/*********************************************************************
*  = Font Family
*********************************************************************/
$defaultFont : 'Lato', sans-serif;
$components: '../../../components/' !default;
/*********************************************************************
*  =Media Screen
*********************************************************************/
$mobile: 340px;
$ms-small: 540px;
$ms-x-small: 599px;
$ms-x-mid: 760px;
$ms-mid-eight: 820px;
$grid: 1280px;
$full-screen: 1920px;

$transition1: cubic-bezier(.77,0,.3,.99);
$transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transition2: cubic-bezier(.77,-0.08,.58,1.28);