related-game{
    position: relative;
    overflow: hidden;
    width: 100%;
        
    img{
        width: 100%;
    }

    h4{
        width: 100%;
        height: 50px;
        margin: 0;
        font-size: 1.1em;
        font-weight: 500;
        color: $c7;
    }

    h5 {
        margin: 0 0 15px;
        font-size: .875em;
        color:$cWhite;
        font-weight: 300;
    }

    .over{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0.8em 1.3em 0;
        line-height: 1.4em;
        background: rgba($c5,0.9);
        transform: translate3d(0, 101%, 0);
        transition: 0.2s $transition1 transform;
    }


    h5, .button{
        transform: translate3d(0, 45%, 0);
        transition: 0.2s 0.2s $transition transform;
    }

    .button{
        display: table;
        @include p-y-($spacer-xs);
        @include p-x-($spacer-md);
        color: $cWhite;

        &:hover{
            color: $c2;
            background: $cWhite;
            border-color: $cWhite;
        }
        
    }


    &:hover{

        .over, h5,  .button{
            transform: translate3d(0, 0, 0); 
        }

    }

    
    @include responsive(768px, 'min'){
        width: 49.20%;
        margin-bottom: 1.3%;
    }

    @include responsive(1024px, 'min'){
        width: 24.5%;
    }

}