section.blue{
  &.widget{
    background: $c1;
  }

  .ballon{
    color: $cWhite;
    background: $c1;

    &:before{
      border-right: 30px solid $c1;

    }
  }

  .section-title{
    margin-bottom: 40px;

    &:before{
      background-color: $c1;
    }

    .title{
      color:  $c1;
    }

  }

}
