.related{
  margin: 80px auto;
  font-weight: 600;

  h3{
    position: relative;
    color: $c1;
    text-align: center;
    margin-bottom: 40px;

    span{
      position: relative;
      z-index: 3;
      background: #fafafa;
      padding: 0 20px;
    }

    &:before{
      position: absolute;
      top: 50%;
      left: 0;
      @include transform(translate(0, -50%));
      content: '';
      height: 4px;
      width: 100%;
      background: $c1;
    }

  }

  span{

  }
}
