.date{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  font-size: em(11px);
  text-align: center;
  background: $cWhite;
  color: $c1;
  line-height: 24px;
  border-radius: 4px;
  overflow: hidden;

  span{
    display: block;
    padding: 2px;
    font-size: .91em;
    font-weight: 600;
    line-height: 1.1em;
    background-color: $c1;
    color: $cWhite;
  }

}
