.where-they-are{

  .people{
    position: relative;
    z-index: 2;
    padding: 10px 0;
    display: block;
    color: $cWhite;
    font-weight: 600;
    border-bottom: 1px solid darken($c4, 5);
    @include transition(transform 0.2s linear);

    &:last-child{
      border-bottom: 0;
    }

    &:hover{
      @include transform(translate3d(5px, 0, 0));
    }

  }


  .view-more{
    color: $c4;
  }

}
