%defaultSection{
  padding: 50px 10px;
  @extend %background-blue;
  color: $cWhite;
  overflow: hidden;

  .section-intro{
    margin: 0 auto 100px;
    max-width: 620px;
    text-align: center;
  }
}

#cases{
  @extend %defaultSection;
}
