.edicao-digital{
    padding: 10px 10px 50px;
    background: #EDEDED;

    h4{

        padding: 4px;
        margin: 0 0 10px;
        color: $cWhite;
        font-family: 'chbold';
        text-align: center;
        text-transform: uppercase;
        background: #626262;
    }

    img{
        max-width: 100%;
        height: auto;
    }

}