.logo {
    position: relative;
    margin: 80px auto;
    height: 47px;
    width: 85px;
    background: url(../assets/images/zh-logo.png) center center no-repeat;
    background-size: cover;
    z-index: 11;

    .triangulo-logo {
        position: absolute;
        top: 8px;
        left: -5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 47px 29px 0 0;
        border-color: $c2 transparent transparent transparent;
    }

}