.app{
  padding: 60px 0;
  @extend %defaultSection;

  article{
    width: 50%;
    color: $cWhite;
  }

  @extend %product;

  .plataforms{

    div{
      color: $cWhite;
    }

    i{
      background: $cWhite;
    }

    svg{
      fill: $c4;
    }

  }


  @include mm {
   .product.flex{
      flex-wrap: wrap;  

      article{
        width: 100%;
        order: 0;
        flex: 1;
      }

      img{
        display: none;
      }

    }
  }


}
