.paywall-logic{
  position: relative;
  padding: 60px 0;
  background: $c5;
  overflow: hidden;

  article{
    width: 50%;
    color: $c4;
  }

  @include mm {

    .flex.product{
      display: block;
    }

    article{
      width: 100%;
    }

      img {
        display: none;
      }


  }

  @extend %product;

}
