.solucao-2{
  max-width: 1024px;
  margin: 0 auto 60px;

  h2{
    height: 50px;
  }

  h3{
    font-weight: 700;
  }

  h2, h3{
    line-height: 1.3em;
  }

  article{
    padding: 0 25px;
    text-align: left;

    p{
      font-size: em(14px);
    }
  }
  

  .icon{
    fill: $c4;

    &.ic-mobile{
      width: 62px;
      height: 54px;
    }

    &.ic-responsive{
      width: 65px;
      height: 60px;
    }

    &.ic-panels{
      width: 56px;
      height: 44px;
    }

  }

  @include sm {
    display: block;

    article{
      margin-bottom: 50px;
    }

  }


}
