%app-thumbnail{
    max-width: 240px;
    
    figure{
        margin-bottom: 10px;
        width: 100%;
        overflow: hidden;
    }

    img{
        width: 100%;
        height: auto;
        transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:not(.loaded){
            transform: scale(1.1);
        }
    }

    @include responsive(668px, 'max'){
        margin: 0 auto 40px;
    }


}