.who-this-serves{
  position: relative;
  padding: 50px 10px 0;
  overflow: hidden;
  @extend %background-blue;


  .section-intro{
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
    color: $cWhite;
  }

  .ico-circle{
    stroke: $cWhite;
    opacity: 0.08;
  }

}
