header.header {
  position: relative;
  display: block;
  
  &:before,
  &:after {
    @include pseudo-icon-mixin(100%, 100%);
    top: 0;
    left: 0;
  }

  &:after {
    opacity: 0.35;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

}
