@charset "UTF-8";
/*********************************************************************
*  =Variables
*
*   Todas as variáveis globais do projeto ficam aqui.
*********************************************************************/
/*********************************************************************
*  =Grid and typograph
*********************************************************************/
/*********************************************************************
*  =Colors
*********************************************************************/
/*********************************************************************
*  = icon path
*********************************************************************/
/*********************************************************************
*  =Media Screen
*********************************************************************/
/*********************************************************************
*  =Functions
*********************************************************************/
/*********************************************************************
*  =Helpers
*
*  Placeholders que facilitam a nossa vida.
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*  =Image replacement
*********************************************************************/
/*********************************************************************
*  =Centered content
*********************************************************************/
/*********************************************************************
*  =No underline
*********************************************************************/
/*********************************************************************
*  =Ellipsis
*********************************************************************/
/*********************************************************************
*  =Pseudo Icon
*********************************************************************/
/*********************************************************************
*  =Shadow Before
*********************************************************************/
/*********************************************************************
*  =Mixins
*
*  Mixins que facilitam a nossa vida.
*********************************************************************/
/*********************************************************************
*  =Colorful links
*
*  Provide a set of colors for normal, :visited, :hover, and :active
*  links, based on a base color. Should be used like this:
*
*  .my-class a {
*    @include colorful-links(#abcdef);
*  }
*********************************************************************/
/*********************************************************************
*  =Pseudo icon mixin
*********************************************************************/
/*********************************************************************
*  Retina sprite
*********************************************************************/
/*********************************************************************
*  Font face
*********************************************************************/
/*********************************************************************
*  =Font smooth
*********************************************************************/
/*********************************************************************
*  =Verticaly centered
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*  =Responsive
*********************************************************************/
/*********************************************************************
*  =Gradient
*********************************************************************/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 999999; }

#menu #formSearch, #menu .menu-logout, #menu nav, #menu nav a, .first-post,
.post-outros-campo, .campo-pergunta, .post-outros, .entre-posts-logado {
  float: none; }

#boasVindas,
#menuLogado,
#mobile {
  display: none; }

.container {
  width: 96%; }

#menu {
  display: none;
  padding: 20px; }
  #menu #formSearch {
    display: table;
    margin: 0 auto;
    height: 40px; }
    #menu #formSearch input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    #menu #formSearch input[type="text"] {
      margin: 0;
      padding: 6.5px 10px;
      height: auto;
      -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
              box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-image: none;
      border-radius: 4px; }
    #menu #formSearch input[type="button"] {
      margin: 0 0 0 -5px;
      height: auto;
      width: auto;
      padding: 10px;
      line-height: 1em;
      color: #fff;
      text-indent: 0;
      border-radius: 0 5px 5px 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#BB80E4), to(#603E93));
      background-image: linear-gradient(-180deg, #BB80E4 0%, #603E93 100%); }
      #menu #formSearch input[type="button"]:hover {
        background-position: 0; }
  #menu .menu-logout {
    margin: 0 auto;
    display: table;
    width: 233px;
    text-align: right; }
  #menu nav {
    margin: 0 auto;
    max-width: 233px; }
    #menu nav a {
      display: block;
      padding: 5px 0; }

.first-post {
  margin: 0 !important; }

.first-post,
.post-outros-campo {
  margin: 0;
  max-width: 300px;
  background-image: none;
  border-radius: 15px;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3); }

.campo-pergunta {
  height: auto;
  width: auto;
  padding: 0;
  background-image: none; }

.post-porcentagem-01,
.post-porcentagem-02,
.post-porcentagem-03,
.post-porcentagem-04 {
  height: auto;
  width: auto;
  padding: 5px 10px;
  background-image: none;
  background-color: rgba(96, 62, 147, 0.3);
  border: 1px solid rgba(187, 128, 228, 0.3); }
  .post-porcentagem-01 span,
  .post-porcentagem-02 span,
  .post-porcentagem-03 span,
  .post-porcentagem-04 span {
    margin: 0;
    width: auto; }

/*# sourceMappingURL=style.css.map */
