.siema{
    position: relative;
    margin: 0 auto;
    width: 100vw;
    max-width: 320px;
    font-family: 'Arimo', sans-serif;

    .slide{
        position: relative;
        padding: 30px 20px;
        height: 100vh;
        //background-image: radial-gradient(52% 100%, #FFFFFF 50%, #B2BAC5 97%);


        .logo{
            display: block;
            width: 90%;
            height: auto;
            margin: 30px auto 0;
        }

        svg{
            fill: #344999;

            &.center{
                margin: 0 auto;
                max-height: 100px;
            }

        }
    }
}


h2{
    margin: 40px 0 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #344999;
}

h3{
    margin: 20px 0;
    font-size: 14px;
    color: #373737;
    text-align: center;
}

h4{
    margin: 20px 0;
    font-size: 14px;
    color: #373737;
    text-align: center;    
}



.field{
    input{
        display: block;
        width: 100%;
        border: 1px solid #344999;
        padding: 0.8em 0.5em;
        font-size: 16px;
        color: #344999;
        border-bottom: none;
    }

    &:last-child{
        input{
            border-bottom: 1px solid #344999;
        }
    }

}




p{
    font-weight: 400;
    font-size: 13px;
    color: #373737;
    line-height: 17px;

    &.center{
        margin: 0 auto;
        text-align: center;
        max-width: 240px;
    }
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px;

    p{
        width: 170px;

    }

    svg{
        height: 70px;
        width: 94px;
        fill: #344999;
    }

    > div{
        width: 32%;
        text-align: center;

        p{  
            margin-top: 5px;
            width: 100%;
            height: 40px;
        }

        svg{
            display: block;
            margin: 0 auto;
            width: 45px;
            height: 45px;
        }
    }


    &.sharing{

        justify-content: space-around;

    > div svg{
            height: 70px;
            width: 70px;
        }
    }

}