.featured-post{
  position: relative;
  width: 100%;
  padding: 0.5rem;

  .post-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .article-title {
    margin: 0 0 5px;
    color: $cWhite;
  }

  time{
    margin-bottom: 0;
  }

  img{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }


  @extend %button-hover-transition;
  @extend %post-content;

  @include responsive(540px,'min') {
    width: 50%;
    padding: 0.5rem;

	}

  @include responsive(768px,'min') {
    width: 25%;
    padding: 0 0.5rem;
  }
  

}
