%post-content{

  .post-content{
    // padding: 20px;
    transform: translate3d(0, 60px, 0);
    transition: transform 0.3s 0.2s $transition;
  }

  a{
    position: relative;
    display: block;
    overflow: hidden;
    @extend %blured-hover;
  }

  figure{
    overflow: hidden;
    height: calc(100% - 5px);
    max-height: 175px;
  }

  img{
    width: calc(100% + 20px);
    height: auto;
  }

  h2{
    color: $cWhite;
    font-size: em(18px);
  }

  time{
    font-size: em(14px);
  }

  &:hover{
    .post-content{
      transform: translate3d(0, 0, 0);
    }
  }

  @extend %button-featured;
}
