%banner-content{

  a{
    display: block;
    width: 100%;
  }
  
  .post-title {
      @include m-b-($spacer-xs);
    
      color: $cWhite;
      @include rem(font-size, 36px);
      font-weight: 900;
    }

  
  .button{
    padding: 12px 45px;
  }

  .post-content{
    @include p-($spacer-md);
    
    .post-body{
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      color: $cWhite;
      font-size: em(18px);
      transform: translate3d(0, 20px, 0);
      transition: all 0.2s linear, transform 0.3s 0.2s $transition, opacity 0.2s 0.21s $transition1;
    }

    // from sass/elements/button-hover-transition.scss
    @extend %button-hover-transition;
    
  }

  &:hover{

    .post-body{
      max-height: 200px;
      height: auto;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

  }


}
