.stream{
    flex-wrap: wrap;
    @include m-t-($spacer-xl);
    align-items: center;
    
    p{
        @extend %copy;
    }

    .section-sub-title{
        @include rem('font-size', 32px);
        color: $c2;
    }

    .stream-copy{
        width:62%;
        padding-right: 40px;

        @include responsive(769px, 'min'){
            width: 57%;
        }

    }

    figure{
         @include responsive(769px, 'max'){
           width: 38%;

           img{
               width: 100%;
               height: auto;
           }
        }

    }


    @include responsive(667px, 'max'){
        .stream-copy{
            order: 2;
            width: 100%;
        }

        figure{
            margin-top: 20px;
            order: 1;
            width: 100%;
        }
    }

}
