%video{
    position: relative;

    .video{
        @include m-y-($spacer-lg);
        flex-wrap: wrap;
    }
    
    .video-frame{
        width: 100%;

        @include responsive(769px, 'min'){
            width: 50%;
        }

    }

    .video-copy{
        padding: 0;
        @include p-x-($spacer-lg);
        width: 100%;

        @include responsive(769px, 'min'){
            width: 50%;
        }

        @include responsive(769px, 'max'){
            margin-top: 40px;
        }

        p:first-child{
            margin-top: 0;
        }

        p{
            @extend %copy;
        }

    }

}