.call-to-action-section{
  position: relative;
  z-index: 9;
  border-radius: 1px;
  background: $cWhite;
  @extend %grey-shadow;

  .flex{
    justify-content: center;
    align-items: center;
  }

  a{
    margin: 30px 20px;
  }

  &.absolute{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 95%;
    max-width: 1024px;
    z-index: 9;
  }

}
