.clients-wrp{
  margin: auto;
  width: 100%;
  max-width: 940px;
  padding: 20px 20px 40px;
  border-radius: 5px;
  background: $cWhite;
  
  .logo-clients{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
