.cover{
    display: flex;
    justify-content: space-between;

    h1{
        margin: 0 0 15px;
        font-size: 32px;
        font-weight: 600;
        color: $c1;
        font-family: 'chbold', sans-serif;
        text-transform: uppercase;    
    }

    h5{
        font-size: em(16px);
        margin: 0 0 15px;
        color: $c1;
    }

    .content{
        width: percentage(680px / $grid);
    }

    aside{
        width: percentage(240px / $grid); 
    }

}