%list-popular-apps-content{
  li{

     > .flex{
          width: 100%;
          align-items: center;
      }
  }

  figure{
      flex: 0 0 auto;
      line-height: 0;
      width: 62px;
      -ms-flex-preferred-size: 62px;
      flex-basis: 62px;
  }

  h4{
      padding: 5px 0.5rem 0 0;
      align-self: flex-start;
      font-size: em(18px);
      color: $c2;

      span{
          color: $c1;
      }
  }

}
