%content-popular-apps{

    .content{
        width: 100%;
        padding: 0 15px;
    }

    h4{
        color: $cWhite;
        font-size: em(18px);
        font-weight: 700;
    }
    
    img {
        max-width: 100%;
    }

}