.motives{
    position: relative;
    z-index: 1;

    .motive{
        width: 100%;
        text-align: center;

        button{
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            @include rem('font-size', 14px);

            svg{
                margin: 0 0 0 5px;
                height: 11px;
                width: 11px;
            }

        }
    }

    h4{
        margin: 0 0 20px 0;
        @include font--primary-bold;
        @include rem('font-size', 24px);
        color: $c7
    }



    @include responsive(668px, 'min'){
        @include m-y-($spacer-xl);
    }


}