.our-clients{
    padding: 120px 0;


    h1{
      text-align: center;
    }

    ul{
      @extend %flex;
    }

    .clients-carousel{
      margin: 120px auto 0;
      align-items: center;

      li{
        margin: 0;
        width: 250px;
      }

      img{
        width: 100%;
        height: auto;
        border: 1px solid $c1;
      }

      @include responsive (599px, 'max') {
        margin: 60px auto 0;
      }


    }

}
