.app{
  padding: 60px 0;
  @extend %defaultSection;

  article{
    width: 50%;
    color: $cWhite;
  }


  .plataforms{

    div{
      color: $cWhite;
    }

    i{
      background: $cWhite;
    }

    svg{
      fill: $c4;
    }

  }

}
