// &.bg stand for background color
// &.txt stand for text color

@each $index, $value in $categories-colors {
  .c-#{$index} {
    &.bg {
      background:$value;
      color: $cWhite;
    }

    &.txt {
      color: $value;
    }
  }
}
