div.field{
    position: relative;

    input{
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        border-radius: 3px;
        width: 100%;
    }

    label{
        position: absolute;
        top: 50%;
        left: $spacer-sm;
        transform: translate(0, -50%);
        z-index: 1;
        line-height: 1em;
    }


    input, label{
        @include rem(font-size, 20px);
        color: $c7;
    }


    &.flying-label{

        label{
            transition: transform 0.2s $transition;
        }

        input{

            &:focus,
            &:valid,
            &:invalid:not([value=""]) {
                ~label {
                    font-size: 60%;
                    font-weight: 700;
                    transform: translate3d(-10px, -22px, 0);
                }
            }

        }


        input:focus,
        input:valid{
            +label {
                color: $c3;
            }
        }

        input:invalid:not([value=""]) {
            ~label {
                color: #ff0033;
            }
        }

    }

}