/**
* when images is loaded hide the loader
**/

img.lazy{
  transition: filter 5s linear;

  + .loader{
    pointer-events: none;
  }

  &.loaded{
    + .loader{
      opacity: 0;
    }
  }
}


figure .lazy,
.swiper-lazy{
    transition: filter 0.2s ease-in;
}

figure .lazy:not(.unblur),
.swiper-lazy:not(.swiper-lazy-loaded) {
    filter: blur(6px);
}

