%link-icon{
    &:before {
        @extend %pseudo_icon;
        top: 50%;
        left: 50%;
        will-change: transform;
        transform: translate3d(-50%, 0, 0);
        height: 30px;
        width: 35px;
        z-index: 1;
        background-image: url(../assets/img/link-svg.svg);
        background-repeat: no-repeat;
        opacity: 0;
        transition: 0.25s opacity $transition1, 0.3s transform $transition1;
    }
}