.page-navigation{
   @include m-b-($spacer-md);
   justify-content: center;
   align-items: center;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 1.4em;
        @include rem(font-size, 18px);
        font-weight: 700;
        color: $c2;

        &:not(.current):not(.next):not(.prev){
            text-decoration: underline;
        }
        @extend %button-behavior;
    }

    .current{
        color: $c3;
    }

    .next, .prev{
        @include m-x-($spacer-sm);
        border: 2px solid $c1;
        border-radius: 4px;
        @include rem(font-size, 24px);

        &:hover{
            background: $c1;
            color: $cWhite;
        }
    }

}