.app-branding{
    position: absolute;

    img{
        width: 100%;
    }

    @include responsive(769px, 'min'){

        position: absolute;
        display: table;
        max-width: 640px;
        z-index: 2;

        img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        &.center{
            @include absolute-centering;
        }

        &.right{
            right: 3vw; 
        }

        &.centerY {
        top: 50%;
        transform: translateY(-50%);
        }

        &.centerX {
        left: 50%;
        transform: translateX(-50%);
        }

        &.left{
            left: 3vw;   
        }

        &.top{
            top: calc(70px + 10vh);
        }

        &.bottom{
            bottom: calc(10vh + 150px);
        }


    }

    @include responsive(769px, 'max'){
     @include absolute-centering;
        z-index: 3;
    }

}