.cat-intro{
    position: relative;
    z-index: 2;
    width: 50%;

    @include responsive(568px, 'max') {
        width: 100%;
        flex: 1;

        p,
        .sharer{
            display: none;
        }
    }
    
    .banner-cat-header{
      flex: 1;
    }

    .breadcrumbs{
        flex: 1;
        width: 100%;
    }

    h1{
        @extend .m-y-md;
        color: $cWhite;
        line-height: 1em;
        @include rem(font-size, 60px);
        word-spacing: 100vw;
    }

    p{
        max-width: 440px;
        line-height: 1.2em;
        color: $cWhite;
        @include rem(font-size, 20px);
    }

    .sharer{
        @include m-t-($spacer-lg);
        flex-wrap: wrap;
    }

    .label{
        display: block;
        margin-bottom: 5px;
        width: 100%;
        color: $c3;
    }

}

@extend %responsive-banner;