.latest-news{

    .widget-title{
        margin-bottom: 50px;
    }
}

.list-preview-post{
    margin-left: -#{$spacer-xs};

    time{
        display: flex;
        align-items: center;
        height: 55px;
        width: 55px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 1.4em;
        font-weight: 700;
        background-color: $c5;

        strong, span{
            display: block;
            width: 100%;
            color: $c1;
        }

        span{
            @include rem(font-size, 16px);
        }

        strong{
            @include rem(font-size, 24px); 
        }
        
    }

    h1{
        margin: 0;
        @include rem(font-size, 18px);
    }

    .post-content{
        flex: 1;
        @include m-l-($spacer-sm);
        @include rem(font-size, 16px);
        color: $c1;

        p{
            @include m-y-($spacer-xs); 

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    &:hover{
        background: $c5;

        time{
            background: $cWhite;
        }
    }

}