.post-body{
    @include m-b-($spacer-md);
    line-height: 1.3em;
    overflow: hidden;

    p{
        margin-top: 0;

        &:last-child{
            margin-bottom: 0;
        }
    }
    
    
}
