.related-post {
    
    @extend .featured-post;

    .related-posts &{
        width: 100%;

        figure {
            max-height: 185px;
        }

        img {
            width: calc(100% + 100px);
        }

    }

    .article-title{
        @include rem(font-size, 16px);
        max-height: 50px;
        text-overflow: ellipsis;
    }

    @include responsive(769px, 'min') {

        .related-posts & {
            width: 33.3333%;
        }

    }


}

.related-posts {
    border-bottom: 3px solid $c5;

    .flex {
        margin: 0 -5px;
        flex-wrap: wrap;
    }
}