.blog-menu{
  position: relative;
  z-index: 10;
  @include p-y-($spacer-sm);
  background: rgba(#000, 0.3);

  .menu-container {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 48px);
    align-items: center;

    @include responsive(540px, 'max'){
      width: calc(100% - 30px);
    }

  }
  
}