header.blog-header{
    position: relative;
    display: block;

    &:before,
    &:after{
        @include pseudo-icon-mixin(100%, 100%);
        top: 0;
        left: 0;
    }

    &:after{
        opacity: 0.35;
        z-index: 1;
    }


    &:not(.single-header) {

        @include p-b-($spacer-sm);

        &:before {
            background-image: linear-gradient(-180deg, $c1 0%, $c2 100%);
            z-index: 0;
        }

        .container {
            @include responsive('540px', 'min') {
                @include m-t-($spacer-md);
            }
        }

    }

    .container{
        position: relative;
        z-index: 2;
    } 

    &.cat-header{
        &:after{
            background-position: center;
            background-size: cover;
        }
    }

}
